[v-cloak] {
    display: none;
}

body {
	font-family: sans-serif;
	margin-bottom: 150px;
}

header {
	background-image: linear-gradient(to right, #02c874, #006030);
	padding: 1.5em 2em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a > span:hover {
	text-decoration: none;
}

header h1 {
	margin-top: 0;
}


h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.header-top {
	display:flex;
	justify-content: space-between;
	color: white;
}

nav {
	display: flex;
	justify-content: center;
}

nav > a {
	padding-left: 25px;
	padding-right: 25px;
}

nav > a, .header-top > a {
	color: white;
	font-weight: bold;
}

.rows {
	display: flex;
}

.topic-col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col {
	flex: 0 0 300px;
}

.col-left {
	flex: 1;
}

.col-md {
	margin-left: 20px;
	flex: 3;
}

.col-right {
	flex: 1;
}

.cols {
	display: flex;
}

.col-6 {
	width: 600px;
}

.col-4 {
	width: 400px;
	margin: 0 auto;
}

.row {
	width: 800px;
}

.box {
	display: flex;
	padding: 20px;
}

.text {
	overflow:hidden;
  	width:500px;
  	font-size:20px;
  	display:block;
  	border: none;
	overflow: auto;
	outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

span {
	margin-bottom: 15px;
}

button {
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
	color: black;
	padding-top: 20px 10px;
}

.home-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	float: left;
	margin-right: 10px;
}

.user {
	color: white
}

.user > a {
	position: relative;
	bottom: 3px;
}

.image-content{
	height: 48px;
}


.box-image {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: relative;
	margin-top: 5px;
}

.box-content {
	padding-left: 20px;
}

.box-body > p {
	margin-top: 0;
	margin-bottom: 0;
}

.box-body {
	font-size: 15px;
}

p > a , p > font {
	position: relative;
	bottom: 5px;
}

.row-center {
	width: 600px;
	margin: auto;
}

.card {
	border: .5px solid #bebebe;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 20px;
}

.card-header {
	background-color: #02c874;
	padding: 10px 8px;
	color: white;
}

.card-body {
	padding: 20px 20px;
}

.card-content {
	margin: 0px;
	padding: 10px;
}

.card-title {
	margin-top: 0px;
}

.card-title > a:hover {
	font-size: 20px;
}

strong > a {
	color: #7b7b7b;
	font-size: 25px;
}

.modal-question {
	padding: 20px 20px;
}

.sidebar-left {
	padding: 20px 0;
	width: 200px;
}

.sidebar-left > a:hover {
	text-decoration: none;
}

.material-icons {
	width: 24px;
	height: 24px;
}

a > span {
	position: relative;
	bottom: 3px;
}

.sidebar-left > a {
	height: 25px;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 5px;
}

.selected {
	background-color: #01b468;
	border-radius: 5px;
}

.selected > span {
	color: white;
}

.question-bar {
	display: flex;
}

.question-btn {
	border: none;
	padding: 0;
}

.question-btn:hover {
	background: #adadad;
	outline: none;
}

.question-top > h1{
	margin-top: 0px
}

.badge {
	margin-right: 5px;
	background-color: #d0d0d0;
	padding: 5px;
	border-radius: 20px;
}

.btn-default {
	border-color: #9d9d9d;
	margin-top: 10px;
	padding: 8px 6px;
}

.btn-default:hover {
	background-color: #bebebe;
}

.btn-block {
	width: 100%;
	background: #4CAF50;
	border: none;
	color: white;
	padding: 8px 10px;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.image-content > font {
	top: 3px;
}

.topic-modal {
	padding: 30px 20px;
}

.topic-input {
	width: 95%;
	padding: 10px 12px;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 4px;
	margin-top: 20px;
}

.topic-title {
	margin-bottom: 70px;
}

.nav {
	padding: 0px;
	max-width: 1000px;
	margin: 15px auto;
}


.nav-item {
	display: inline;
	margin-right: 20px;
	text-align: center;
}

.nav-link {
	text-decoration: none;
	padding: 10px;
	color: grey;
	font-style: bold;
}

.nav-link:hover {
	background: #f3f3f3;
}

.active {
	color: green;
}

h1 > hr {
	width: 100%;
}

.ais-highlight > em {
    background: yellow;
    font-style: normal; 
}

.search-bar {
	background: #f3f3f3;
	height: 100px;

}

.search-input {
	width: 500px;
	height: 40px;
	margin-left: 175px;
	margin-top: 30px;
	border:1px solid #ccc;
	border-radius: 10px;
}

.search-input:focus {
	border-radius: 0px;
}

.search-result {
	width: 600px;
	margin: 20px 0;
}

.search-result > li {
	list-style-type: none;
}

ul > li > a {
	font-size: 20px;
	color: grey;
}

.profile {
	margin: 50px 0;
}

.span-text > a{
	color: rgb(157, 157, 157);
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex > p {
	margin: 0px;
}

.flex > h1 {
	margin-top: 0;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-notify {
	display: block;
	font-size: 14px;
	position: absolute;
	background-color: white;
	width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 8px 0;
}

.dropdown-notify > li {
	padding-bottom: 8px;
}

.dropdown-content {
	display: block;
	position: absolute;
	right: 38px;

	background-color: #f9f9f9;
	width: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content > ul {
	list-style-type: none;
	padding-left: 0px;
	margin:0px;
}

.dropdown-content > ul >li {
	padding: 8px;
}

.dropdown-content > ul >li {
	padding: 8px;
}

.dropdown > button:hover {
	background: #f3f3f3;
}

.edit:hover {
	background-color: #02c874;
	color: white;
}

.delete:hover {
	background-color: red;
	color: white;
}

.check-box {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.check-item {
	padding: 5px;
}

.badge {
	border-radius: 10px;
}

.login-form {
	width: 100%;
	height: 100%;
	display: flex;
}

.login {
	width: 50%;
	height: 100%;
}

.title {
	color: #8b8c8d;
	margin-top: 10px;
	text-align: center;
}

.social-login {
	text-align: center;
	margin-top: 100px;
}

.loginBtn {
	width: 80%;
	border:1px solid;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.loginBtn--facebook {
	border-color: #3880FF;
	color:dodgerblue;
}

.loginBtn--facebook:hover {
	background-color: #3880FF;
	color:white;
}

.loginBtn--google {
	border-color: #f44336;
	color: red;
}

.loginBtn--google:hover {
	background-color: #f44336;
	color: white;
}

.loginBtn--github {
	border-color: #DBA226;
	color: #DBA226;
}

.loginBtn--github:hover {
	background-color: #DBA226;
	color: white;
}

.login-part {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 100%;
	width: 50%;
	background: url("/login.jpg") no-repeat top right;
}